.heading-section {
  padding: 50px 0;

  .profile-img {
    display: block;
    margin: 0 auto;
    width: 250px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 5px rgba(201,201,201,1);
    overflow: hidden;
    
    img {
      display: block;
      width: 100%;
    }
  }

  .profile-name {
    display: block;
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    text-transform: capitalize;
  }

  .profile-position {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
  }

  .profile-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto 0;
    width: 100%;
    max-width: 500px;

    div {
      display: block;
      width: 45%;
    }

    div a {
      display: block;
      padding: 15px;
      width: 100%;
      font-size: 18px;
      text-align: center;
      color: $text-color;
      border: 1px solid $orange-web;
      border-radius: 30px;

      span {
        display: inline-block;
        vertical-align: middle;
      }

      svg {
        display: inline-block;
        margin-right: 5px;
        width: 20px;
        height: 20px;
        fill: $text-color;
        vertical-align: middle;
      }

      @include on-event {
        text-decoration: none;
        color: $orange-web;
        background-color: $text-color;
        border: 1px solid $text-color;

        svg {
          fill: $orange-web;
        }
      }
    }
  }
}

.border-section {
  padding-bottom: 50px;

  .border-holder {
    display: block;
    margin: auto;
    width: 100%;
    border: solid 1px #F08700;
    border-radius: 5px;
  }
}

.skill-section {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;

    .cols {
      display: block;
    
      &:first-child {
        width: 30%;
      }

      &:last-child {
        width: 60%;
      }
    }

    .item:not(:first-child) {
      margin-top: 50px;
    }

    .label {
      position: relative;
      margin-bottom: 15px;
      font-weight: 700;
      font-size: 25px;
      text-transform: uppercase;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 50px;
        height: 3px;
        background-color: $brand-color;
      }
    }

    .description {
      margin-bottom: 15px;
      font-size: 16px;
    }

    .skill-list {
      margin-bottom: 15px;
      padding-left: 20px;

      li {
        font-size: 16px;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    .app-holder {
      .app {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        &:not(:first-child) {
          margin-top: 10px;
        }
      }

      .text {
        position: relative;
        display: block;
        padding-left: 30px;
        width: 50%;
        
        p {
          margin: 0;
          font-weight: 500;
          font-size: 16px;
        }

        img {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 25px;
          height: 25px;
        }
      }

      .bar-holder {
        display: block;
        width: 50%;

        .photoshop {
          position: relative;
          display: block;
          width: 100%;
          height: 10px;
          background-color: $text-color;
          border-radius: 10px;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 80%;
            height: 10px;
            background-color: $orange-web;
            border-radius: 10px;
          }
        }

        .autodesk {
          position: relative;
          display: block;
          width: 100%;
          height: 10px;
          background-color: $text-color;
          border-radius: 10px;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 80%;
            height: 10px;
            background-color: $orange-web;
            border-radius: 10px;
          }
        }
      }
    }

    .schools-holder {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .level {
        width: 30%;
        font-weight: 700;
        font-size: 16px;
      }

      .school {
        width: 70%;
        font-size: 16px;
      }
    }
  }
}

.portfolio-section {
  .heading-title {
    position: relative;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 80px;
      height: 3px;
      background-color: $orange-web;
    }
  }

  .nav-tabs {
    border-bottom: 1px solid $orange-web;

    .nav-link {
      text-transform: uppercase;
      color: $text-color;

      &:hover {
        color: $orange-web;
        background-color: $text-color;
        border-color: $text-color;
      }

      &.active {
        color: $orange-web;
        background-color: $text-color;
        border-color: $text-color;
      }
    }
  }

  .tab-content {
    margin-top: 50px;
    margin-bottom: 50px;

    .tab-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &.info,
      &.poster {
        justify-content: space-evenly;
      }
    }

    .tab-image {
      position: relative;
      display: block;
      padding-top: 30%;
      width: 21%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 15px;
      box-shadow: 0px 0px 5px 0px rgba(173,173,173,1);
      transition: all .2s ease-in-out;

      &:not(:nth-child(-n+4)) {
        margin-top: 50px;
      }

      img {
        display: none;
        width: 100%;
      }
    }

    .tab-info {
      position: relative;
      display: block;
      padding-top: 30%;
      width: 41%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 15px;
      box-shadow: 0px 0px 5px 0px rgba(173,173,173,1);
      transition: all .2s ease-in-out;

      &:not(:nth-child(-n+2)) {
        margin-top: 50px;
      }

      img {
        display: none;
        width: 100%;
      }
    }

    .tab-poster {
      position: relative;
      display: block;
      padding-top: 48%;
      width: 41%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 15px;
      box-shadow: 0px 0px 5px 0px rgba(173,173,173,1);
      transition: all .2s ease-in-out;

      &:not(:nth-child(-n+2)) {
        margin-top: 50px;
      }

      img {
        display: none;
        width: 100%;
      }
    }
  }
}

@include respond-to(md-up) {
  .portfolio-section {
    .tab-content {
      .tab-image,
      .tab-info {
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

@include respond-to(md-down) {
  .heading-section {
    .profile-img {
      width: 30%;
    }

    .profile-name {
      margin-top: 25px;
      font-size: 30px;
    }

    .profile-position {
      margin-top: 5px;
      font-size: 18px;
    }

    .profile-contact {
      margin: 25px auto 0;
      max-width: 400px;

      div {
        a {
          padding: 10px;
          font-size: 16px;
  
          svg {
            margin-right: 3px;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }

  .skill-section {
    .wrapper {
      .cols:first-child {
        width: 100%;
        order: 2;
      }

      .cols:last-child {
        margin-bottom: 50px;
        width: 100%;
        order: 1;
      }

      .label {
        font-size: 22px;
      }

      .app-holder {
        .app {
          &:not(:first-child) {
            margin-top: 15px;
          }
        }

        .text {
          margin-bottom: 10px;
          width: 100%;
        }

        .bar-holder {
          width: 100%;
        }
      }
    }
  }

  .portfolio-section {
    .tab-content {
      .tab-wrapper {
        &.info,
        &.poster {
          justify-content: center;
        }
      }

      .tab-info,
      .tab-poster {
        padding-top: initial;
        width: 90%;
        // max-width: 276px;
        background-image: initial !important;
        background-repeat: initial;
        background-size: initial;
        background-position: initial;
        overflow: hidden;

        &:not(:nth-child(-n+4)) {
          margin-top: initial;
        }

        &:not(:nth-child(-n+2)) {
          margin-top: initial;
        }

        &:not(:first-child) {
          margin-top: 30px;
        }

        img {
          display: block;
        }
      }
    }
  }
}

@include respond-to(sm-down) {
  .portfolio-section {
    .tab-content {
      margin-top: 30px;

      .tab-image {
        padding-top: 62%;
        width: 45%;

        &:not(:nth-child(-n+4)) {
          margin-top: initial;
        }

        &:not(:nth-child(-n+2)) {
          margin-top: 30px;
        }
      }
    }
  }
}

@include respond-to(xs) {
  .heading-section {
    padding: 50px 0 40px;

    .profile-img {
      width: 40%;
      max-width: 150px;
    }

    .profile-name {
      font-size: 25px;
    }

    .profile-position {
      font-size: 15px;
    }

    .profile-contact {
      max-width: 250px;

      div {
        width: 48%;

        a {
          padding: 5px 10px;
          font-size: 15px;
        }
      }
    }
  }

  .border-section {
    padding-bottom: 40px;
  }

  .skill-section {
    .wrapper {
      .cols {
        &:last-child {
          margin-bottom: 40px;
        }
      }

      .item {
        &:not(:first-child) {
          margin-top: 40px;
        }
      }

      .label {
        font-size: 20px;
      }

      .description {
        font-size: 15px;
      }

      .schools-holder {
        .school {
          font-size: 14px;
        }
      }

      .skill-list {
        li {
          font-size: 15px;
        }
      }

      .app-holder {
        .text {
          p {
            font-size: 15px;
          }
        }

        .bar-holder {
          .photoshop,
          .autodesk {
            height: 8px;

            &::after {
              height: 8px;
            }
          }
        }
      }
    }
  }

  .portfolio-section {
    .heading-title {
      font-size: 30px;
    }

    .nav-tabs {
      .nav-link {
        padding: 5px 15px;
        font-size: 14px;
      }
    }

    .tab-content {
      margin-top: 30px;

      .tab-wrapper {
        justify-content: center;
      }

      .tab-image {
        padding-top: initial;
        width: 90%;
        max-width: 276px;
        background-image: initial !important;
        background-repeat: initial;
        background-size: initial;
        background-position: initial;
        overflow: hidden;

        &:not(:nth-child(-n+4)) {
          margin-top: initial;
        }

        &:not(:nth-child(-n+2)) {
          margin-top: initial;
        }

        &:not(:first-child) {
          margin-top: 30px;
        }

        img {
          display: block;
        }
      }
    }
  }
}